@import "fonts/stylesheet.css";

.container {
    margin: 50px 0;
}

.card {
    margin-top: 1% !important;
}

.infected {
    border-bottom: 10px solid #BB86FC;
}

.recovered {
    border-bottom: 10px solid #C94D29;
}

.dead {
    border-bottom: 10px solid #af0625;
}


.header1 {
    font-family: lato;
}

.idk {
    background-color: red !important;
}

p {
    font-family: lato !important;
    color: rgb(236, 236, 236) !important;
}

@media only screen and (max-width: 600px) {
    h1 {
        margin-left: 4% !important;
    }
}

@media only screen and (max-width: 960px) {
    h1 {
        margin-left: 5% !important;
    }
}